div.newsLister{
	margin-top: 5%;
	padding-bottom: 3%;
	border-bottom: thick double #AAA;
}

div.newsPhoto{
	width: 60%;
	height: 100px;
	margin-left: 40%;
	margin-bottom: 5%;
}

div.newsDiscription{
	padding-left: 5%;
	border-left: thick dashed #EEE;
}

div.newsTitle{
	font-size: 1.5em;
	color: #00CCFF;
}

div.newsMetaData{
	font-size: 0.8em;
	font-weight: bold;
}

div.newsText{
	
}